body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: blanchedalmond;*/
    /*background-image: repeating-linear-gradient(to top, black 0 20px, white 20px 40px);*/
    /*background-image: radial-gradient(white, black);*/
    background-color: blanchedalmond;
    /*color: whitesmoke;
    /*background-image: linear-gradient(black, gray, white);*/
    /*background-image: url("https://www.motoo.com.br/fotos/2021/7/960_720/harley-davidson_sportster-s_2022_4_13072021_33479_960_720.jpg");*/
    /*background-image: url('/video-imagem-audio/imagens/fundo-do-site.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*background-size: cover*/
    /*background-size: contain;*/
    /*background-size: 100% 100%;*/
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/
    /*background-repeat: space;*/
    /*background-repeat: round;*/
    /*background-repeat: no-repeat;*/
    /*background-repeat: repeat space;*/
    /*background-position: bottom;*/
    /*background-position: left;*/
    /*background-position: top;*/
    /*background-position: right;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    /*background-attachment: scroll;*/
    /*background-attachment: local;*/
    /*background-origin: padding-box;*/
    /*background-origin: border-box;*/
    /*background-origin: content-box;*/
    /*background-clip também tem essas funções:
    content-box
    border-box
    padding-box*/
    /*background-clip: text;
    -webkit-background-clip: text;*/
    /*background-blend-mode: multiply;*/
    /*font-family: sans-serif;*/
    /*font-family: monospace;*/
    /*font-family: cursive;*/
    /*font-family: fantasy;*/
    /*font-family: "Times New Roman", Arial ,sans-serif;*/
    /*font-size: 30px;*/
    /*font-size: xx-small;*/
    /*font-size: x-small;*/
    /*font-size: small;*/
    /*font-size: xx-large;*/
    /*font-size: x-large;*/
    /*font-size: smaller;*/
    /*font-size: medium;*/
    /*font-size: larger;*/
    /*font-size: large;*/
    /*font-style: italic;*/
    /*font-style: oblique;*/
    /*font-style: inherit;
    font-style: initial;
    font-style: unset;*/
    /*font-weight: bold;*/
    /*font-weight: lighter;*/
    /*font-weight: lighter;*/
    /*font-weight: initial;
    font-weight: unset;
    font-weight: inherit;*/
    /*font-weight: 270;*/
    /*font-variant: small-caps;*/
    /*line-height: 20px;*/
    /*font: italic small-caps bold 30px/3 Ariel, serif;*/
}

::selection{
    background-color: green;
    color: brown;
}